body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: calc(100svh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: #ddd;
}
main {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 900;
}

a {
  color: inherit;

  &:focus-visible {
    outline-offset: 4px;
    outline: 4px dotted green;
  }
}

button {
  flex-grow: 0;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 600;
  font-optical-sizing: inherit;
  font-style: inherit;

  background-color: #111;
  color: #fff;
  padding: 1em;
  border-radius: 1em;
  border: 0;
  transition: color 0.25s, background-color 0.25s;

  &:hover {
    background-color: #ddd;
    color: #111;
    cursor: pointer;
  }

  &:focus-visible {
    outline-offset: 4px;
    outline: 4px dotted green;
  }

  &:disabled {
    opacity: 50%;
    pointer-events: none;
  }
}

#buttons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  & button {
    flex-grow: 1;
    max-width: 250px;
    min-width: 50%;
  }
}

#line_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0 1em;

  & #dynamic_lyric {
    text-align: center;
    background-color: #ddd;
    padding: 1em;
    border-radius: 2em;
    font-size: 1.25em;
    font-weight: 800;
    width: fit-content;
  }
}

#line_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0 1em;

  .lyric-dynamic {
    text-align: center;
    background-color: #ddd;
    padding: 1em;
    border-radius: 2em;
    font-size: 1.25em;
    font-weight: 800;
    width: fit-content;
  }
}

@media screen and (min-width: 400px) {
  #buttons_wrapper {
    width: 250px;
    flex-direction: row;
    & button {
      width: 100%;
    }
  }
}

@media screen and (min-width: 800px) {
  main {
    font-size: 1.25em;
  }
  #buttons_wrapper {
    width: 100%;
    flex-direction: row;
  }
}
